/* Copyright 2023 Oliver Smith
   SPDX-License-Identifier: AGPL-3.0-or-later */

h2, h3 {
    text-transform: uppercase;
}

.more-link {
    display: block;
    margin-top: 20px;
}
.more-link:after {
  content: " >";
}

/* DEVICES */
.devices {
    display: grid;
    grid-template-areas: ". device1 . device2 .";
    grid-template-columns: "1fr auto 1fr auto 1fr";
}

.device1 {
    grid-area: device1;
}

.device2 {
    grid-area: device2;
}

.devices div {
    padding: 20px;
    width: 340px;
    border: 1px solid lightgrey;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.devices img{
    height: 250px;
    border: 1px solid lightgrey;
}

/* WHAT OTHERS SAY */
.quote {
    font-style: italic;
    font-size: 20pt;
    margin-bottom: 20px;
}

/* RESPONSIVENESS */
@media screen and (max-width: 900px) {
	.devices {
        grid-template-areas: "device1"
                             "."
                             "device2";
        grid-template-rows: auto
                            20px
                            auto;
        grid-template-columns: 100%;
    }
    .devices div {
        width: auto;
        padding: 10px;
    }
    .devices img {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    /* Have a bigger header on the mobile main page: display the slogan, and
       make the disclaimer bigger (so it does not look ridiculously small
       compared to the slogan). */
    .slogan {
        display: block;
        padding: 10px 30px;
    }
    .disclaimer {
        font-size: 10pt;
    }
}

@media screen and (max-width: 600px) {
    .more-link {
        font-size: 10pt;
    }
}
