<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}postmarketOS{% endblock %}</title>

        <meta name="description" content="Aiming for a 10 year life-cycle for smartphones">
        <meta name="keywords" content="postmarketOS">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all">

        <meta name="theme-color" content="#009900">
        <meta property="og:site_name" content="postmarketOS Podcast">
        <meta property="og:image" content="https://cast.postmarketos.org/static/img/cover.jpg">
        <meta property="og:title" content="{{ title }}">
        <meta property="twitter:card" content="summary">

        <link rel="canonical" href="https://postmarketos.org{{ request.path }}">
        <link rel="shortcut icon" href="https://postmarketos.org/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/dark.css">
        <link rel="alternate" type="application/rss+xml" title="postmarketOS podcast" href="{{ url_for('atom') }}">
        {% block extra_link %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <a class="logo" name="^" href="https://postmarketos.org">
                <img src="/logo.svg" alt="">
                <span>postmarketOS</span>
            </a>
            <div class="nav">
                <div class="nav-row1">
                    <a href="https://postmarketos.org/blog/">blog</a>
                    <a href="https://postmarketos.org/faq/">faq</a>
                    <a href="https://wiki.postmarketos.org">wiki</a>
                    <a href="https://postmarketos.org/source-code/">src</a>
                    <a href="https://postmarketos.org/merch/">merch</a>
                </div>
                <div class="nav-row2">
                    <a href="https://postmarketos.org/download/" id="nav-download">download</a>
                    <a href="/">podcast</a></a>
                </div>
                <div class="nav-row3">
                    <a href="https://postmarketos.org/chats-and-social-media/">@postmarketOS</a>
                </div>
                <div class="nav-row4">
                    <a href="https://postmarketos.org/donate/">donate</a>
                    <a href="https://postmarketos.org/edge/">edge</a>
                </div>
            </div>
        </header>
        <main class="main">
            {% block body %}
            {% endblock %}
        </main>
        <footer class="footer">
            <div class="nav-bottom">
                <!-- scroll to top: the JS version is slightly nicer, as it does not change the URL.
                                    but the non-JS version works as well. -->
                <a href="#^" onclick="window.scrollTo(0,0); return false" class="icon-button">
                    <img src="/static/img/icons-numix/go-top-symbolic.svg" alt="">
                    <span>back to top</span>
                </a>
                <a href="{{ url_for('atom') }}" class="icon-button">
                    <img src="/static/img/icons-numix/application-rss+xml-symbolic.svg" alt="">
                    <span>feed</span>
                </a>
                <a href="{{ url_for('legacyatom') }}" class="icon-button">
                    <img src="/static/img/icons-numix/application-rss+xml-symbolic.svg" alt="">
                    <span>legacy feed</span>
                </a>
                <a href="/privacy-policy.html" class="icon-button">
                    <img src="/static/img/icons-numix/changes-secure-symbolic.svg" alt="">
                    <span>privacy policy</span>
                </a>
            </div>
            <div class="copyright">
		Audio files are licensed under CC-BY-SA-4.0,
		<a href="https://gitlab.com/postmarketOS/cast.postmarketos.org">website code</a>
		is under AGPL-3.0-or-later
            </div>
        </footer>
    </body>
</html>
